
/**
 * 左边的MardDown是否看起来不太舒服呢，好吧，让我们修改一下
 */

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 倒计时
 *
 * 3...
 * 2...
 * 1...
 *
 * 溜了溜了~
 *
 */
